.container{
    display: flex;
    flex-direction: row;
    justify-content: center; /*eje horizontal*/
    height: 100vh;
    position: absolute;
    
    z-index: 10000000;

    overflow-y: scroll;  
    
    inset: 0;   /* inset sets all 4 values (top right bottom left) much like how we set padding, margin etc., */
    background-color: rgba(0, 0, 0, .6);
}

.semiContainer{ /*para ubicar bien al userIcon*/
    /* display: flex; */
    /* border: 3px solid red; */

    margin-top: auto; /*auto para centrar en la pantalla*/
    margin-bottom: auto; 
    height: fit-content; /*para que envuelva todo el contenido*/
}

.semisemiContainer{
    display: flex;
    /* align-items: center; */
    margin-top: 70px; /*70 para dar margen en el semiContainer*/
    margin-bottom: 70px;
    gap: 20px;
}

.userIcon{
  display: flex;
  align-self: flex-start; /*al inicio del post*/
}

.modalBox {
    /* border: 3px solid green;  */
    border-radius: 3px;
    width: 540px;
   
    min-width: 540px;
    min-height: fit-content;
    background-color: white;
    color: black;
   
    display: flex;
    flex-direction: column;
    /* align-items: space-between; */
  }

.modalTop{
    padding: 10px 15px 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    font-weight: 600;
    font-size: .9rem;
}

.modalFooter{
    padding: 10px 15px 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* border-top: 1px solid gray; */
}

.borderModalFooter{
    width: 100%;
    margin:0;
    padding: 0;
border-color: #f2f2f2;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
}

.button {
    all: unset;
    cursor: pointer;
    width: 100%;
    height: 196.8px;
}
.button:focus {
    outline: none;
}

.textarea{
    padding: 0px 15px 10px 20px;
    border:none;
    font-family:Arial, Helvetica, sans-serif; 
    overflow: hidden; 
    resize: none;
}
.textarea:focus{
    outline: none;
}

.titleDetails{
    font-size: 3rem;
}
.textboxDetails{
    font-size: 1rem;
}
.tagsDetails{
    font-size: .9rem;
}

.photoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
   
    border-top: 2px dashed #cfcfcf;
    border-bottom: 2px dashed #cfcfcf;
    background-color: #f2f2f2;
    color: #989898;
}



.image{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
