.container{
    background-color: white;
    height: 70px;
    width: 530px;
    min-width: 530px; /*para que no se achique*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    padding: 15px 5px;
    margin-right: 20px; /*separacion entre radarbar */
    border-bottom: none;
    border-radius: 3px;
} 


.listImages{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.link{
  text-decoration: none;
  color:black;
  font-family: "Favorit", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}
/*despues de hacer click*/
.link:visited{
  color:black;
}

.p{
  margin:0;
}


@media (max-width: 990px){

  .container{display: none;}
}
